<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
<!-- Call to action
    <div class="pt-4">
        <a class="btn btn-outline-white" href=""
            role="button">Cell phone: 256775796781
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://ecoplastile.com/"
            role="button">Visit the main website
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    /.Call to action -->
    
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <!-- <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a> -->

                <!-- <a href="https://www.facebook.com/waste2build-ecoplastileproject" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://www.linkedin.com/ecoplastile%20(soon%20opening)" target="_blank">
            <MDBIcon fab icon="linkedin-in" />
        </a> -->

        <!-- <a href="https://pinterest.com/mdbootstrap" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a> -->

        <a href="https://www.twitter.com/ecoplastileind1" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="mailto:info@ecoplastile.com" target="_blank">
            <i class="far fa-envelope-open"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=_0Ta8zcVDxs" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="https://github.com/DerpyCoder/" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="tel:256775796781" target="_blank">
            <i class="fas fa-phone"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        Made with Chong's blood, sweat and tears
        <a class="btn btn-outline-dark" href="https://github.com/DerpyCoder/ecoplastile/" target="_blank"> View the Source Code </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->